.error-tooltip {
  display: none;
  background: #fc6a6a;
  color: #ffffff;
  padding: 8px 16px;
	font-family: inherit;
  font-size: 12px;
	font-weight: 400;
  border-radius: 8px;
	z-index: 10;
}

.error-tooltip[data-show] {
  display: block;
}

.arrow,
.arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.arrow {
  visibility: hidden;
}

.arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

.error-tooltip[data-popper-placement^='top'] > .arrow {
  bottom: -4px;
}

/* #tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
} */

/* #tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
} */

/* #tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
} */